* {
    /* border-box permet d'inclure le padding et les bordures dans le calcul des dimensions d'un élément */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#map-container {
    display: flex;
}

#map {
    height: 400px;
    width: 80%;
}

#station {
    display: none;
    width: 20%;
    padding: 0 10px;
    border: 1px solid #000000;
}

#booking-info {
    padding: 10px;
}

#signature {
    display: none;
}

#signature-canvas {
    border: 1px solid #000000;
}

/* Slider */
#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;

    background-color: #F8F8F8;
    font-size: 1.1em;
	padding: 10px;
}
.slide-showing {
    opacity: 1;
    z-index: 2;
}
.slider-controls{
    background: #333;
    color: #fff;
    border: none;
    padding: 5px 0px;
    font-size: 12px;
    cursor: pointer;
    border: 2px solid #fff;
    margin: 10px 0px 0px 10px;
    width: 70px;
}
.slider-controls:hover,
.slider-controls:focus{
    background: #eee;
    color: #333;
}
#slider {
    position: relative;
}
.slider-buttons {
    position: absolute;
    left: 0px;
    bottom: 10px;
    z-index: 10;
    font-size: 0px;
}
.slide-img {
    float: right;
    width: 320px;
    margin-left: 10px;
}